.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light-grey;
    padding: $padding-small;
    border: none;
    border-radius: $border-radius;

    font-weight: $font-weight-semibold;
    color: $color-button-text;
    text-decoration: none;
    box-shadow: $shadow-small;
    width: 6em;
    height: 1.5em;

    cursor: pointer;
}
.button--submit{
   align-self: center;
   width: 8em;
    height: auto;
}