.menu {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light-blue;
    box-shadow: $shadow-small;
    margin: $margin-small;
}

.menu__item--link {
    text-decoration: none;
    color: $color-light-grey;
    padding: $padding-small;
    border-radius: $border-radius;
    width: 6em;
    height: 1em;
}

.menu__item--picture {

    background-color: $color-light-blue;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin-left: auto;
        
    img{
        width: 3em;
        height: 3em;
        border-radius: 100%;
       
    }

}