
.menu{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-light-grey;
    padding: $padding-small;
    width: 6em;
    height: 1em;
    background-color: $color-light-blue;
    border-radius: $border-radius;
    box-shadow: $shadow-small;
    margin: $margin-small;
}
.menu__picture{
    background-color: $color-light-blue;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin-left: auto;
    margin-right: $margin-medium;
}