$color-darker-blue: #191c21;
$color-medium-blue: #21242b;
$color-dark-blue: #282C34;
$color-light-blue: #3D3E4A;
$color-light-grey: #C4C4C4;
$color-orange: #FF7A30;

$color-background: $color-dark-blue;
$color-text: $color-light-grey;
$color-button-text: $color-dark-blue;